* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    110deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- TODO input --- */

form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background-color: white;
  outline: none;
}

.todo-input {
  color: #8707ff;
  border: 1px solid #8707ff;
  border-right: none;
  background: transparent;
}

.todo-input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

/* --- TODO button --- */

form button {
  color: rgb(63, 76, 119) 70.2%;
  background-color: white;
  cursor: pointer;
}

.icon-btn {
  width: 55px;
  height: 55px;
  border: 1px solid #cdcdcd;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background: white;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 16px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.4s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 25.6px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 25.6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* Styling the TODO */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  border-radius: 4px 0px 0px 4px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  transition: all 0.7s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: rgb(73, 204, 73);
}

.todo-item {
  padding: 0rem 0.5rem;
}

/* to disable a click event happening on the icons */
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* TODO select */
select {
  /* removing default appearance */
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;

  /* styling the select */
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 3px;
  font-size: 0.8rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: white;
  color: #ff6f47;
}
